html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

elements-of-type(html5-block) {
  display: block; }

.clear {
  clear: both; }
  .clear:after {
    clear: both;
    display: block;
    content: ''; }

*, *:before, *:after {
  box-sizing: border-box;
  outline: none; }

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

body, html {
  width: 100%;
  height: 100%; }

body {
  background-color: #f8f8f8;
  color: black; }

body {
  line-height: 1.55;
  font-family: "Monda", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: black; }

a {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

h2, h3 {
  line-height: 1.1; }

h2 {
  font-size: 4.8em; }
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 3.46667em; } }
  @media screen and (max-width: 640px) {
    h2 {
      font-size: 3.06667em; } }

h3 {
  font-size: 2.33333em;
  font-weight: 700; }
  @media screen and (max-width: 640px) {
    h3 {
      font-size: 1.86667em; } }

h4 {
  font-size: 1.86667em; }
  @media screen and (max-width: 1024px) {
    h4 {
      font-size: 1.33333em; } }
  @media screen and (max-width: 768px) {
    h4 {
      font-size: 1.46667em; } }
  @media screen and (max-width: 640px) {
    h4 {
      font-size: 1.06667em; } }

h5 {
  font-size: 1.13333em; }

h6 {
  font-size: 0.93333em; }

strong {
  font-weight: 700; }

u {
  text-decoration: underline; }

.o-container {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  position: relative;
  z-index: 5; }
  .o-container.is-hidden {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }

.o-content {
  position: relative;
  z-index: 10;
  width: 64.84375%; }
  .o-content p:last-of-type {
    margin-bottom: 0; }
  .o-content__article {
    position: relative;
    padding-right: 60px; }
    .o-content__article > .o-content__article {
      padding-right: 0; }
  .o-content--wide {
    width: 82.03125%; }
  .c-block .o-content {
    float: right; }
  @media screen and (max-width: 1024px) {
    .o-content--wide {
      width: 100%; }
    .o-content__article {
      padding-right: 90px; }
    .c-block .o-content {
      width: 89.21162%; } }
  @media screen and (max-width: 768px) {
    .o-content__article {
      padding: 0; }
    .c-block .o-content {
      float: none;
      width: 100%; }
    .c-intro .o-content {
      width: 46.7033%; } }
  @media screen and (max-width: 640px) {
    .c-intro .o-content {
      width: 100%; } }

.o-edge:after, .o-edge:before {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  position: absolute;
  display: block;
  background-color: black;
  content: ' '; }

.o-edge:before {
  top: 0;
  width: 1px;
  height: 100%; }

.o-edge:after {
  display: none;
  width: 50%;
  height: 1px; }

.o-edge--bottom {
  padding-bottom: 60px; }
  .o-edge--bottom:after {
    display: block;
    bottom: 0; }
  .o-edge--bottom.o-edge--right:after {
    right: 0; }

.o-edge--fat:before {
  width: 10px; }

.o-edge--left {
  padding-left: 50px; }
  .o-edge--left:before {
    left: 0; }
  .o-edge--left.inactive:before {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    left: -100px; }
  .o-edge--left.active:before {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    left: 0; }

.o-edge--red:before {
  background-color: #cf2528; }

.o-edge--right {
  padding-right: 50px; }
  .o-edge--right:before {
    right: 0; }
  .o-edge--right.inactive:before {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    right: -100px; }
  .o-edge--right.active:before {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    right: 0; }

@media screen and (max-width: 1024px) {
  .o-edge--right:before {
    display: none; }
  .o-edge--bottom:after {
    display: none; }
  .c-intro .o-edge {
    padding-left: 105px; }
    .c-intro .o-edge:before {
      height: 105px; } }

@media screen and (max-width: 768px) {
  .c-intro .o-edge {
    padding-left: 50px; } }

@media screen and (max-width: 640px) {
  .o-edge--left {
    padding-left: 25px; }
  .c-intro .o-edge {
    padding-left: 25px; } }

.o-header {
  position: relative; }
  @media screen and (min-width: 481px) and (max-width: 1024px) {
    .o-header br {
      display: none; } }
  .o-header--serif {
    font-family: "Abril Fatface", cursive; }
  .c-intro .o-header {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    -o-transform-origin: right bottom;
    transform-origin: right bottom;
    position: absolute;
    right: 140px;
    top: 70px;
    z-index: 5;
    width: 620px;
    text-transform: uppercase;
    font-size: 8.13333em;
    line-height: .9; }
    .c-intro .o-header span {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      position: absolute;
      left: -174px;
      bottom: 35px;
      display: block;
      width: 344px;
      height: 101px;
      background-image: url(../img/svg/zobowiazuje.svg);
      background-repeat: no-repeat;
      overflow: hidden;
      text-indent: -10000px; }
    @media screen and (max-width: 1024px) {
      .c-intro .o-header {
        top: -140px;
        right: 90px; }
        .c-intro .o-header span {
          left: -128px;
          bottom: 10px;
          width: 210px; } }
    @media screen and (min-width: 769px) and (max-width: 1024px) {
      .c-intro .o-header {
        font-size: 6em; } }
    @media screen and (max-width: 768px) {
      .c-intro .o-header {
        top: 20px; } }
    @media screen and (max-width: 640px) {
      .c-intro .o-header {
        top: 0;
        right: 60px;
        width: 320px;
        font-size: 4.26667em; }
        .c-intro .o-header span {
          left: -100px;
          bottom: 0;
          width: 140px; } }
  @media screen and (max-width: 768px) {
    .c-block .o-header--content {
      margin-bottom: 220px !important;
      position: relative;
      padding-left: 50px; }
      .c-block .o-header--content:before {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 10px;
        height: 105px;
        background-color: #cf2528;
        display: block;
        content: ' '; } }
  @media screen and (max-width: 640px) {
    .c-block .o-header--content {
      padding-left: 30px; } }

.icon-01:before {
  content: "\e907"; }

.icon-02:before {
  content: "\e908"; }

.icon-03:before {
  content: "\e909"; }

.icon-04:before {
  content: "\e90a"; }

.icon-05:before {
  content: "\e90b"; }

.icon-menu:before {
  content: "\e90c"; }

.icon-pdf:before {
  content: "\e905"; }

.icon-signature:before {
  content: "\e906"; }

.icon-facebook-logo:before {
  content: "\e903"; }

.icon-twitter-logo-silhouette:before {
  content: "\e904"; }

.icon-logo:before {
  content: "\e900"; }

.icon-logo--simple:before {
  content: "\e901"; }

.icon-bullet:before {
  content: "\e902"; }

.o-link {
  display: inline-block;
  border-bottom: 1px solid transparent; }
  .o-link--pdf {
    margin-right: 60px; }
    .o-link--pdf:after {
      position: absolute;
      right: -60px;
      top: -22px;
      font-size: 42px;
      font-family: 'icomoon';
      content: "\e905";
      color: #cf2528; }
  .o-link--small {
    font-size: 14px; }
  .o-link--underline {
    border-bottom: 1px solid #cf2528; }
  .o-link:hover {
    border-bottom-color: #cf2528;
    color: #cf2528; }
  .c-block .o-link {
    margin-left: 10px; }
  @media screen and (min-width: 769px) {
    .o-link {
      position: relative; } }
  @media screen and (max-width: 768px) {
    .c-block .o-link {
      margin-left: 0; }
    .o-link--container {
      display: block;
      position: relative; }
    .o-link--pdf:after {
      right: 0; } }

.o-media {
  position: relative;
  z-index: 5;
  display: block;
  max-width: 100%;
  height: auto; }

.o-wrap {
  clear: both;
  max-width: 1280px;
  margin: 0 auto; }
  .o-wrap:after {
    clear: both;
    display: block;
    content: ''; }
  @media screen and (max-width: 1280px) {
    .o-wrap {
      padding-left: 30px;
      padding-right: 30px; } }
  @media screen and (max-width: 768px) {
    .o-wrap {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (max-width: 640px) {
    .o-wrap {
      padding-left: 15px;
      padding-right: 15px; } }

.c-author {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  position: relative;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 0.93333em;
  color: #390e00; }
  .c-author .o-link {
    margin-left: 10px;
    letter-spacing: 2px; }
  .active .c-author {
    right: 0 auto; }
  @media screen and (max-width: 768px) {
    .c-author {
      display: block; } }
  @media screen and (max-width: 480px) {
    .c-author .o-link {
      display: block;
      margin: 0; } }

.c-block {
  position: relative;
  margin-bottom: 200px; }
  .c-block ul {
    position: relative; }
  .c-block h5, .c-block p, .c-block ul {
    position: relative;
    margin-bottom: 3em; }
  .c-block li {
    position: relative;
    margin-bottom: 2em; }
  @media screen and (max-width: 480px) {
    .c-block {
      margin-bottom: 150px; } }

.c-bullet {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  position: absolute;
  left: -135px;
  overflow: hidden;
  width: 0;
  font-size: 1em; }
  .c-bullet.active {
    width: 80px; }
  .c-bullet--link {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    left: auto;
    right: -50px;
    top: 68px;
    width: 51px; }
  .c-bullet--between {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    position: relative;
    top: -24px;
    left: -37px; }
    .c-bullet--between.active {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1; }
  .c-bullet--middle {
    bottom: -50px; }
  @media screen and (max-width: 1024px) {
    .c-bullet--link {
      left: auto;
      top: 18px; }
    .c-bullet--middle {
      left: 0; } }
  @media screen and (max-width: 768px) {
    .o-content .c-bullet:not(.c-bullet--between) {
      display: none; }
    .c-bullet--between {
      left: 0; } }

.c-contact {
  display: table; }
  .c-contact dt, .c-contact dd {
    display: table-cell;
    padding: 2px 0; }
  .c-contact dt {
    width: 120px;
    padding-right: 30px;
    text-align: right;
    font-weight: 700; }
  .c-contact dd {
    border-left: 1px solid black;
    padding-left: 30px; }
  @media screen and (max-width: 375px) {
    .c-contact dt, .c-contact dd {
      font-size: 0.8em; } }

.c-copyrights__lead {
  text-transform: uppercase;
  font-size: 0.86667em; }

.c-copyrights__lead, .c-copyrights i {
  display: inline-block;
  vertical-align: middle; }

.c-copyrights i {
  margin-right: 20px;
  font-size: 3.33333em; }

@media screen and (max-width: 1024px) {
  .c-copyrights {
    display: none; } }

.c-extras {
  position: absolute;
  right: 24.4186%;
  top: -140px; }
  .c-extras .c-bullet {
    position: relative;
    left: auto;
    margin-right: 55px; }
  .c-extras.active .c-bullet {
    left: 0 auto; }
  @media screen and (max-width: 768px) {
    .c-extras {
      right: auto;
      left: 70px; }
      .c-extras .c-bullet {
        display: block;
        margin: 0 0 20px 0; } }
  @media screen and (max-width: 640px) {
    .c-extras {
      left: 15px; }
      .c-extras .c-bullet {
        margin: 0 0 10px 0; } }

.fixed {
  position: fixed; }

.c-gallery {
  position: relative; }
  .c-gallery__item {
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 25px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 25px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 25px;
    z-index: 5;
    display: block;
    border: 10px solid white; }
    .c-gallery__item img {
      display: block; }
  @media screen and (min-width: 769px) {
    .c-gallery__item {
      position: absolute; }
      .c-gallery__item--01 {
        top: 0;
        right: 9.52381%; }
      .c-gallery__item--02 {
        top: 340px;
        right: 17.14286%; }
      .c-gallery__item--03 {
        top: 500px;
        right: 66.66667%; }
      .c-gallery__item--04 {
        top: 115px;
        z-index: 10;
        right: 47.61905%; }
      .c-gallery__item--05 {
        top: 310px;
        z-index: 15;
        right: 72.38095%; }
    .c-gallery.active .c-gallery__item--01 {
      right: 19.04762%; }
    .c-gallery.active .c-gallery__item--02 {
      right: 26.66667%; }
    .c-gallery.active .c-gallery__item--03 {
      right: 57.14286%; }
    .c-gallery.active .c-gallery__item--05 {
      top: 310px;
      right: 62.85714%;
      z-index: 15; } }
  @media screen and (max-width: 1024px) {
    .c-gallery__item--01 {
      right: 0; }
    .c-gallery__item--02 {
      right: 7.8125%; }
    .c-gallery__item--03 {
      top: 500px;
      right: 68.35938%; }
    .c-gallery__item--04 {
      right: 39.0625%;
      z-index: 10; }
    .c-gallery__item--05 {
      top: 310px;
      right: 74.21875%;
      z-index: 15; }
    .c-gallery.active .c-gallery__item--01 {
      right: 2.92969%; }
    .c-gallery.active .c-gallery__item--02 {
      right: 11.71875%; }
    .c-gallery.active .c-gallery__item--03 {
      right: 47.85156%; }
    .c-gallery.active .c-gallery__item--05 {
      right: 51.75781%; } }
  @media screen and (max-width: 768px) {
    .c-gallery {
      width: calc(100% + 30px) !important;
      margin-left: -15px;
      padding-top: 60px; }
      .c-gallery__item {
        margin: 20px 10px; } }

.c-intro {
  position: relative;
  padding: 670px 0 250px 0; }
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .c-intro {
      padding: 470px 0 250px 0; } }
  @media screen and (max-width: 640px) {
    .c-intro {
      padding: 470px 0 250px 0; } }
  @media screen and (max-width: 480px) {
    .c-intro {
      padding: 470px 0 150px 0; } }

.c-logo {
  position: absolute;
  left: 55px;
  top: 8px;
  z-index: 6;
  font-family: "icomoon";
  font-size: 5.6em; }
  .c-logo:before {
    content: "\e900"; }
  @media screen and (max-width: 1280px) {
    .c-logo {
      left: 30px; } }
  @media screen and (max-width: 768px) {
    .c-logo {
      left: 20px; }
      .c-logo:before {
        content: "\e901"; } }

.c-mountains {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 2800px;
  overflow: hidden; }
  .c-mountains__image {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    left: 0;
    top: -15%;
    z-index: 1;
    width: 100%;
    height: 1400px;
    background-image: url(../img/mountains.jpg);
    background-position: center top;
    background-repeat: no-repeat; }
    @media screen and (max-width: 768px) {
      .c-mountains__image {
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain; } }

.c-nav {
  z-index: 5; }
  .c-nav__item {
    padding: 15px; }
  .c-nav__link {
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 0.93333em; }
    .c-nav__link:hover {
      color: #cf2528; }
  @media screen and (min-width: 1025px) {
    .c-nav {
      position: absolute;
      top: 40px;
      right: 250px; }
      .c-nav li {
        float: left; } }
  @media screen and (max-width: 1024px) {
    .c-nav {
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-timing-function: ease-in-out;
      -moz-transition-timing-function: ease-in-out;
      -o-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
      -webkit-transition-duration: 500ms;
      -moz-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0;
      position: fixed;
      left: -100%;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #cf2528;
      text-align: center;
      color: white; }
      .c-nav__item {
        padding: 10px; }
      .c-nav__content {
        position: absolute;
        top: 50%;
        margin-top: auto;
        margin-bottom: auto;
        left: 50%;
        margin-left: auto;
        margin-right: auto;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .c-nav__link {
        font-size: 1.2em; }
        .c-nav__link:hover {
          color: black; }
      .c-nav.is-active {
        left: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1; } }

.svg-menu-toggle {
  fill: black;
  pointer-events: all;
  cursor: pointer; }
  .svg-menu-toggle .bar {
    -webkit-transform: rotate(0) translateY(0) translateX(0);
    transform: rotate(0) translateY(0) translateX(0);
    opacity: 1;
    -webkit-transform-origin: 20px 10px;
    transform-origin: 20px 10px;
    -webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
    transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out; }
    .svg-menu-toggle .bar:nth-of-type(1) {
      -webkit-transform-origin: 26px 12px;
      transform-origin: 26px 12px; }
    .svg-menu-toggle .bar:nth-of-type(3) {
      -webkit-transform-origin: 26px 26px;
      transform-origin: 26px 26px; }
  .is-active .svg-menu-toggle {
    fill: white; }
    .is-active .svg-menu-toggle .bar:nth-of-type(1) {
      -webkit-transform: rotate(-45deg) translateY(0) translateX(0);
      transform: rotate(-45deg) translateY(0) translateX(0); }
    .is-active .svg-menu-toggle .bar:nth-of-type(2) {
      opacity: 0; }
    .is-active .svg-menu-toggle .bar:nth-of-type(3) {
      -webkit-transform: rotate(45deg) translateY(0) translateX(0);
      transform: rotate(45deg) translateY(0) translateX(0); }

.inline-svg {
  display: block; }

.c-nav-trigger {
  position: absolute;
  top: 56px;
  right: 230px;
  z-index: 5;
  display: block;
  width: 42px;
  height: 22px;
  font-size: 1.33333em; }
  @media screen and (min-width: 1025px) {
    .c-nav-trigger {
      display: none; } }
  @media screen and (max-width: 768px) {
    .c-nav-trigger {
      right: 210px; } }
  @media screen and (max-width: 640px) {
    .c-nav-trigger {
      right: 15px; } }

.c-number {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  position: absolute;
  top: 400px;
  left: -170px;
  z-index: 5;
  font-size: 23em;
  color: #f1f1f1; }
  .c-number--01 {
    font-size: 24em; }
  .c-number.active {
    top: 30px; }
  @media screen and (max-width: 768px) {
    .c-number {
      top: -320px; }
      .c-number.active {
        top: -220px; }
      .c-number--01 {
        top: 140px; }
        .c-number--01.active {
          top: -40px; } }
  @media screen and (max-width: 480px) {
    .c-number {
      top: -220px;
      font-size: 17.66667em; }
      .c-number--01 {
        top: -40px;
        font-size: 19.33333em; } }

.c-pendant {
  position: absolute;
  z-index: 10;
  padding-top: 50px;
  text-transform: uppercase;
  text-align: right;
  transform: rotate(-90deg);
  transform-origin: right top;
  right: 100%;
  top: 20px;
  white-space: nowrap; }
  .c-pendant strong {
    padding-left: 10px;
    font-weight: 400;
    color: black; }
  .c-pendant__lead {
    position: relative;
    top: -4px;
    display: block;
    line-height: 1.2;
    font-family: "Oswald", sans-serif;
    font-size: 2em;
    font-weight: 300; }
  .c-pendant--link {
    top: 50px; }
  .c-pendant--border {
    padding-top: 40px; }
    .c-pendant--border:before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 10px;
      display: block;
      background-color: #cf2528;
      content: ' '; }
  .c-pendant--border-short:before {
    left: auto;
    right: -5px;
    width: 55px; }
  .c-pendant h6 {
    padding-top: 8px;
    letter-spacing: 1px;
    font-family: "Oswald", sans-serif;
    font-weight: 300; }
  @media screen and (max-width: 1024px) {
    .c-pendant {
      padding: 0; } }
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .c-pendant:not(.c-pendant--link) {
      width: 105px !important; }
    .c-pendant > .c-pendant__lead, .c-pendant h6 {
      display: none; } }
  @media screen and (max-width: 768px) {
    .c-pendant {
      width: auto !important; }
      .c-pendant--border {
        top: 100px; }
        .c-pendant--border:before {
          display: none; }
      .c-pendant--link {
        position: relative;
        top: auto;
        margin-bottom: 200px; } }
  @media screen and (max-width: 480px) {
    .c-pendant--aftertwolines {
      top: 130px; } }

@-webkit-keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

.c-preloader {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin-left: -30px !important; }
  .c-preloader__item {
    position: absolute;
    top: 50%;
    margin-top: auto;
    margin-bottom: auto;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 60px;
    height: 60px;
    background-image: url(../img/svg/logo--simple.svg);
    top: 40%;
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite; }

.c-signature {
  position: relative;
  padding-right: 200px;
  text-align: right; }
  .c-signature i {
    position: absolute;
    right: 0;
    top: -15px;
    font-size: 6.26667em;
    color: #cf2528; }
  @media screen and (max-width: 375px) {
    .c-signature {
      font-size: 0.8em; } }

.c-social {
  position: absolute;
  right: 53px;
  top: 130px;
  z-index: 10; }
  .c-social a {
    font-size: 22px; }
    .c-social a:hover {
      color: #cf2528; }
  .c-social.is-white a:hover {
    color: black; }
  .c-social.is-white li:first-child:after {
    background-color: white; }
  .c-social li {
    margin-bottom: 50px; }
    .c-social li:first-child {
      position: relative; }
      .c-social li:first-child:after {
        position: absolute;
        left: 50%;
        top: 38px;
        display: block;
        width: 1px;
        height: 20px;
        background-color: black;
        content: ' '; }
  .c-nav .c-social {
    display: block;
    position: relative;
    right: auto;
    top: 40px; }
    .c-nav .c-social li {
      display: inline-block;
      margin: 0 25px; }
      .c-nav .c-social li:first-child:after {
        left: 42px;
        top: 12px;
        width: 20px;
        height: 1px;
        background-color: white; }
      .c-nav .c-social li a:hover {
        color: black; }
    .c-nav .c-social a {
      font-size: 26px; }
  @media screen and (max-width: 1024px) {
    .c-social {
      right: 30px; } }
  @media screen and (max-width: 768px) {
    .c-social {
      display: none; }
      .c-nav .c-social {
        display: block; } }

.c-stripes {
  position: absolute;
  left: 0;
  z-index: 6;
  width: 100%; }
  .c-stripes__image {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 3478px;
    background-image: url(../img/svg/stripes--white.svg);
    background-repeat: no-repeat;
    background-position: center top; }
  .c-stripes--one {
    top: 2400px;
    height: 3478px; }
  .c-stripes--two {
    top: 4400px;
    height: 3478px; }

.c-topbar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  width: 100%;
  height: 160px;
  background: -owg-linear-gradient(0deg, transparent, #f8f8f8);
  background: -webkit-linear-gradient(0deg, transparent, #f8f8f8);
  background: -moz-linear-gradient(0deg, transparent, #f8f8f8);
  background: -o-linear-gradient(0deg, transparent, #f8f8f8);
  -pie-background: -pie-linear-gradient(0deg, transparent, #f8f8f8);
  background: linear-gradient(0deg, transparent, #f8f8f8);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#00000000', endColorstr='#FFF8F8F8'); }

.c-weather {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  margin-bottom: 40px; }
  .c-weather li {
    display: inline-block;
    vertical-align: middle;
    font-family: "Oswald", sans-serif; }
    .c-weather li:nth-child(2) {
      padding: 0 15px; }
  .c-weather__icon {
    display: block; }
    .c-weather__icon--white {
      display: none; }
  .c-weather.is-white .c-weather__icon--black {
    display: none; }
  .c-weather.is-white .c-weather__icon--white {
    display: block; }
  @media screen and (min-width: 641px) {
    .c-weather {
      position: absolute;
      right: 40px;
      top: 50px;
      z-index: 5; } }
  @media screen and (max-width: 768px) {
    .c-weather {
      right: 20px; } }
  @media screen and (max-width: 640px) {
    .c-weather__icon--black {
      display: none; }
    .c-weather__icon--white {
      display: block; } }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.is-visible {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.is-white {
  color: white; }

.u-align-center {
  text-align: center; }

.u-align--right {
  text-align: right; }

.u-buffer {
  margin-bottom: 100px; }

.u-buffer--half {
  margin-bottom: 50px; }

@media screen and (min-width: 769px) {
  .u-buffer--minus {
    margin-left: -50px; } }

.u-posy {
  position: absolute;
  top: 50%;
  margin-top: auto;
  margin-bottom: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.u-fs--20 {
  font-size: 1.33333em; }

.u-rotate-90 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.u-text--red {
  color: #cf2528; }

.u-uppercase {
  text-transform: uppercase; }

.safari * {
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d; }

@media screen and (min-width: 769px) {
  #galeria {
    height: 960px; }
  .owl-carousel {
    display: block !important; } }

@media screen and (max-width: 768px) {
  #o-firmie .u-buffer {
    margin-bottom: 50px; } }

.no-scroll {
  overflow: hidden; }
