// Fonts

$abril:				'Abril Fatface', cursive;
$icomoon:			'icomoon';
$monda:				'Monda', sans-serif;
$oswald:			'Oswald', sans-serif;


// Font weights

$light:				300;
$regular:			400;
$bold:				700;


// Default

$base-font-size:	15;
$text:				$monda;
$grid-base-width:	1280;


// RWD
$tablet:			1024;
$tablet_portrait:	768;
$smartphone:		640;
$smartphone_small:	480;