.o-link {	
	position: relative;
	display: inline-block;
	border-bottom: 1px solid transparent;

	&--pdf {
		margin-right: 60px;

		&:after {
			@include antialias;
			position: absolute;
			right: -50px;
			top: -18px;
			font: {
				size: 38px;
				family: 'icomoon';
			}
			content: "\e905";
			color: $red;
		}
	}

	&--small {
		font-size: 14px;
	}
	
	&--underline {
		border-bottom: 1px solid $red;
	}
	
	&:hover {
		border-bottom-color: $red;
		color: $red;
	}

	.c-block & {
		margin-left: 5px;
	}
	
	@media screen and ( max-width: $tablet_portrait+px ) {
		.c-block & {
			//margin-left: 0;
		}
	}
}