[class^="icon-"], [class*=" icon-"] {
	@include icomoon;
}

.is-visible {
	@include hover;
	@include opacity(1);
}

.is-white {
	color: white;
}
	
.u-align-center {
	text-align: center;
} 

.u-align--right {
	text-align: right;
}

.u-buffer {
	margin-bottom: 100px;
}

.u-buffer--half {
	margin-bottom: 50px;
}

.u-buffer--minus {
	@media screen and ( min-width: $tablet_portrait+1+px ) {
		margin-left: -50px;
	}
}

.u-posy {
	@include scut-center-transform(y);
}

.u-fs--20 {
	font-size: em(20);
}

.u-rotate-90 {
	@include transform(rotate(-90deg));
}

.u-text--red {
	color: $red;
}

.u-uppercase {
	text-transform: uppercase;
}

.safari {
	* {
		-webkit-backface-visibility: hidden;
		-webkit-transform-style: preserve-3d;
	}
}

#kontakt {
	.desktop & {
		margin-bottom: 150px;
	}
}

@media screen and ( min-width: $tablet_portrait+1+px ) {
	#galeria {
		height: 960px;
	}
	
	.owl-carousel {
		display: block !important;
	}
}

@media screen and ( max-width: $tablet_portrait+px ) {
	#o-firmie {
		.u-buffer {
			margin-bottom: 50px;
		}
	}
}

@media screen and ( max-width: $smartphone_small+px ) {

	#galeria,
	#kontakt .o-header {
		margin-bottom: 50px !important;
	}
	
	#kontakt {
		.mobile & {
			margin-bottom: 250px;
		}
	}
}




.no-scroll {
	overflow: hidden;
}