.c-block {
	position: relative;
	margin-bottom: 200px;

	ul {
		position: relative;
	}

	h5, p, ul {
		position: relative;
		margin-bottom: 3em;
	}
	
	li {
		position: relative;
		margin-bottom: 2em;
	}
	
	@media screen and ( max-width: 480px ) {
		margin-bottom: 150px;
	}
}