.c-contact {
	display: table;
	
	dt, dd {
		display: table-cell;
		padding: 2px 0;
	}
	
	dt {
		width: 120px;
		padding-right: 30px;
		text-align: right;
		font-weight: $bold;
	}
	
	dd {
		border-left: 1px solid $black;
		padding-left: 30px;
	}
	
	@media screen and ( max-width: 375px ) {
		dt, dd {
			font-size: em(12);
		}
	}
	
}