.c-copyrights {
	&__lead {	
		text-transform: uppercase;
		font-size: em(13);
	}
	
	&__lead, i {
		display: inline-block;
		vertical-align: middle;
	}
	
	i {
		margin-right: 20px;
		font-size: em(50);
	}
	
	@media screen and ( max-width: $tablet+px ) {
		display: none;
	}
}