.c-mountains {
	position: absolute; top: 0; left: 0; z-index: 1;
	width: 100%;
	height: 2800px;
	overflow: hidden;
	

	
	&__image {
		position: absolute;
		left: 0; top: -15%; z-index: 1;
		width: 100%;
		height: 1400px;
		background: {
			image: url(../img/mountains.jpg);
			position: center top;
			repeat: no-repeat;
			size: cover;
		}
		
		@media screen and ( max-width: $tablet_portrait+px ) {
			background-size: contain;
		}
		
		.mobile & {
			background-size: cover;
		}
		
		&:before {
			position: absolute;
			left: 0; bottom: 0;
			z-index: 1;
			display: block;
			content: ' ';
			width: 100%;
			height: 40%;

//background: -moz-linear-gradient(top,  rgba(248,248,248,0) 0%, rgba(248,248,248,1) 100%);
//background: -webkit-linear-gradient(top,  rgba(248,248,248,0) 0%,rgba(248,248,248,1) 100%);
background: linear-gradient(to bottom,  rgba(248,248,248,0) 0%,rgba(248,248,248,1) 100%);
//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f8f8f8', endColorstr='#f8f8f8',GradientType=0 );


		}
	}
}
