.c-nav {
	
	z-index: 5;

	&__item {
		padding: 15px;
	}

	&__link {
		text-transform: uppercase;
		font: {
			family: $oswald;
			size: em(14);
		}

		&:hover {
			color: $red;
		}
	}

	@media screen and ( min-width: $tablet+1+px ) {
		position: absolute;
		top: 40px;
		right: 250px;
		
		li {
			float: left;
		}
	}

	@media screen and ( max-width: $tablet+px ) {
		@include anim;
		@include transition-duration(300ms);
		//@include opacity(0);	
		position: fixed;
		bottom: -100%;
		left: 0;
		//top: 0;
		width: 100%;
		height: 100%;
		background-color: $red;
		text-align: center;
		color: white;
		
		&__item {
			padding: 10px;
		}
		
		&__content {
			@include scut-center-transform;
			padding-top: 60px;
		}
		
		&__link {
			font-size: em(18);
			
			&:hover {
				color: $black;
			}
		}
		
		&.is-active {
			//display: block;
			bottom: 0;
			//@include opacity(1);
		}
	}
}
