.c-nav-trigger {
	position: absolute;
	top: 60px; right: 230px;
	z-index: 5;
	font-size: em(20);
	
	@media screen and ( min-width: $tablet+1+px ) {
		display: none;
	}
	
	@media screen and ( max-width: $tablet_portrait+px ) {
		right: 170px;
	}
	
	@media screen and ( max-width: $smartphone+px ) {
		right: 15px;
	}
}
