.c-pendant {
	position: absolute;
	z-index: 10;
	padding-top: 50px;
	text-transform: uppercase;
	text-align: right;
	transform: rotate(-90deg);
    transform-origin: right top;
    right: 100%;
    top: 20px;
    white-space: nowrap;

	strong {
		padding-left: 10px;
		font-weight: $regular;
		color: $black;
	}

	&__lead {
		position: relative;
		top: -4px;
		display: block;
		line-height: 1.2;
		font: {
			family: $oswald;
			size: em(30);
			weight: $light;
		}
	}
	
	&--link {
		top: 50px;
	}
	
	&--border {
		padding-top: 40px;
		
		&:before {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 10px;
			display: block;
			background-color: $red;
		    content: ' ';
		}
	}
	
	&--border-short {
		&:before {
			left: auto;
			right: -5px;
			width: 55px;
		}
	}
	
	h6 {
		padding-top: 8px;
		letter-spacing: 1px;
		font: {
			family: $oswald;
			weight: $light;
		}
	}
	
	@media screen and ( max-width: $tablet+px ) {
		padding: 0;
		
		//&:not(&--link) {
			width: 105px !important;
		//}
	}
	
	@media screen and ( min-width: $tablet_portrait+1+px ) and ( max-width: $tablet+px ) {
		> .c-pendant__lead, h6 {
			display: none;
		}	
	}
	
	@media screen and ( max-width: $tablet_portrait+px ) {
		width: auto !important;
		
		&--border {
			top: 100px;

			&:before {
				display: none;
			}
		}
		
		&--twolines {
			top: 190px;
		}

		&--link {
			position: relative;
			top: auto;
			margin-bottom: 200px;
		}
	}
}
