.c-signature {
	position: relative;
	padding-right: 200px;
	text-align: right;
	
	i {
		position: absolute;
		right: 0; top: -15px;
		font-size: em(94);
		color: $red;
		
		
	}
	
	@media screen and ( max-width: 375px ) {
		font-size: em(12);
	}
}