.c-stripes {
	position: absolute;
	left: 0; 
	z-index: 6;
	width: 100%;
	
	&__image {
		@include background-size(cover);
		position: relative;
		width: 100%;
		height: 3478px;
		background: {
			image: url(../img/svg/stripes--white.svg);
			repeat: no-repeat;
			position: center top;
		}
	}
	
	&--one {
		top: 2400px;
		height: 3478px;
	}

	&--two {
		top: 4400px;
		height: 2428px;
		
		.mobile & {
			height: 3578px;
		}
	}
}
