.c-topbar {
	position: fixed;
	left: 0; top: 0;
	z-index: 20;
	width: 100%; height: 200px;
	
	
	.desktop & {
		background: rgba(248,248,248,1);
		background: -moz-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(248,248,248,0.82) 78%, rgba(254,254,254,0) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,248,248,1)), color-stop(78%, rgba(248,248,248,0.82)), color-stop(100%, rgba(254,254,254,0)));
		background: -webkit-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(248,248,248,0.82) 78%, rgba(254,254,254,0) 100%);
		background: -o-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(248,248,248,0.82) 78%, rgba(254,254,254,0) 100%);
		background: -ms-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(248,248,248,0.82) 78%, rgba(254,254,254,0) 100%);
		background: linear-gradient(to bottom, rgba(248,248,248,1) 0%, rgba(248,248,248,0.82) 78%, rgba(254,254,254,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#fefefe', GradientType=0 );
	}
}